*{
    box-sizing: border-box;
    margin:0

#container{
    display: grid;
    grid-template-columns: auto auto;
}
.left, .right{
    height: 600px;
    width: 640px;
}
.left{
    padding-left: 5rem;
    padding-top: 8rem;
    padding-right: 5rem;
}
.left h1{
    font-size: 60px;
}


.right{
    padding-top: 5rem;
    padding-left: 5rem;
}
.top{
    height: 50px;
    width: 500px;
    background-color: purple;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}
.bottom{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    padding-left: 50px;
}


.form-input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    outline: none;
    border-radius: 5px;
}
.btn{
    margin-top: 20px;
    padding: 16px 140px;
    background-color: rgb(74, 239, 74);
    border: none;
    border-radius: 5px;
}
.text{
    padding-top: 10px;
}
